:root {
	--primary-hue: 245;
	--color-primary-hsl: var(--primary-hue), 80%, 43%;
	--color-primary: hsl(var(--color-primary-hsl));
	--color-primary-900: hsl(var(--primary-hue), 82%, 7%);
	--color-primary-100: hsl(var(--primary-hue), 20%, 97%);

	--color-primary-shadow: hsla(var(--color-primary-hsl), 0.75);
	--color-grey-60: hsla(0, 0%, 0%, 0.6);
	--color-grey-10: hsla(0, 0%, 0%, 0.1);

	--color-white: hsl(0, 0%, 100%);
	--color-black: hsl(0, 0%, 0%);
}
