<?xml version="1.0"?>
<ruleset name="Theme">
	<!-- For help in understanding this file: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml -->
	<!-- For help in using PHPCS: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Usage -->

	<!-- Set a description for this ruleset. -->
	<description>A custom set of code standard rules to check for WordPress themes.</description>

	<!-- Check all files in this directory and the directories below it. -->
	<file>.</file>

	<!-- Exclude folders. -->
	<!-- See: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Advanced-Usage#ignoring-files-and-folders -->
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/bundle/*</exclude-pattern>

	<!-- Pass some flags to PHPCS:
			p flag: Show progress of the run.
			s flag: Show sniff codes in all reports.
	-->
	<arg value="ps"/>

	<!-- Show results with colors -->
	<arg name="colors"/>

	<!-- Strip the filepaths down to the relevant bit. -->
	<arg name="basepath" value="./"/>

	<!-- Check up to 8 files simultanously. -->
	<arg name="parallel" value="8"/>

	<!-- Only check the PHP files. -->
	<arg name="extensions" value="php"/>

	<!-- Rules: Check PHP version compatibility:
			https://github.com/PHPCompatibility/PHPCompatibilityWP -->
	<rule ref="PHPCompatibilityWP"/>

	<!-- For help in understanding this testVersion:
			https://github.com/PHPCompatibility/PHPCompatibility#sniffing-your-code-for-compatibility-with-specific-php-versions -->
	<config name="testVersion" value="5.6-"/>

	<!-- Include the WordPress ruleset, with exclusions. WordPress-Extra Includes WordPress-Core. -->
	<!-- See: https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards -->
	<rule ref="WordPress-Extra">
		<!-- Allow short open tags. -->
		<exclude name="Generic.PHP.DisallowShortOpenTag.EchoFound"/>

		<!-- We have cache busting via dist/mix-manifest.json file. -->
		<exclude name="WordPress.WP.EnqueuedResourceParameters.MissingVersion"/>
	</rule>

	<!-- Include the WordPress Docs ruleset. -->
	<rule ref="WordPress-Docs"/>

	<!-- Set the minimum supported WP version. This is used by several sniffs.
			The minimum version set here should be in line with the minimum WP version
			as set in the "Requires at least" tag in the readme.txt file. -->
	<config name="minimum_supported_wp_version" value="4.9"/>

	<!-- Verify that the text_domain is set to the desired text-domain.
			Multiple valid text domains can be provided as a new element. -->
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="uuups"/>
			</property>
		</properties>
	</rule>

	<!-- Allow for theme specific exceptions to the file name rules based
			on the theme hierarchy. -->
	<rule ref="WordPress.Files.FileName">
		<properties>
			<property name="is_theme" value="true"/>
		</properties>
	</rule>

	<!-- Change some errors to warnings. -->
	<rule ref="Generic.WhiteSpace.ScopeIndent.IncorrectExact">
		<type>warning</type>
	</rule>

	<rule ref="Generic.WhiteSpace.ScopeIndent.Incorrect">
		<type>warning</type>
	</rule>

	<rule ref="WordPress.Files.FileName.InvalidClassFileName">
		<type>warning</type>
	</rule>
</ruleset>
