.comments__title {
	margin-bottom: $global-spacing-unit-6;
}

.comments-nav {
	margin-bottom: $global-spacing-unit-6;
}

.comments-nav__title {
	width: 100%;
}

.comments__list,
.comments__list .children {
	@include reset-list();

	.children {
		padding-left: 3%;
	}
}

.comment--depth-1 {
	padding-bottom: $global-spacing-unit-4;
}

.comment__meta {
	margin-bottom: $global-spacing-unit-4;

	a {
		color: var(--color-dark);
		text-decoration: none;

		&:hover,
		&:focus,
		&:active {
			text-decoration: underline;
		}
	}
}

.comment__avatar {
	border-radius: 4px;
	height: 60px;
	margin-right: $global-spacing-unit-2;
	width: 60px;
}
