.pagination__items {
	@include reset-list();
	border-bottom: 1px solid var(--color-light);
	border-top: 1px solid var(--color-light);
	padding: $global-spacing-unit-4;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.pagination__item:not(:last-child) {

	&::after {
		content: "\002F";
		padding: 0 $global-spacing-unit-2;
	}
}

.pagination__anchor {
	text-decoration: none;
}
