.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.entry {
	margin: 0 0 $global-spacing-unit-4;
}

.entry__header,
.entry__summary,
.entry__footer,
.comments-template {
	@include center;
	max-width: $max-width-2;
}
