.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.entry {
	margin-bottom: $global-spacing-unit-8;
}

.entry__header,
.entry__summary,
.entry__footer,
.comments-template {
	@include center;
	max-width: $max-width-2;
}

.entry__byline {
	@include font-size(0.8rem);
}

.entry__footer {
	margin-top: $global-spacing-unit-4;
}

.terms-wrapper {
	color: $color-grey-60;
	display: block;

	& + .terms-wrapper {
		margin-top: $global-spacing-unit-1;
	}

	& .icon {
		margin-right: $global-spacing-unit-2;
	}

	& a {
		color: $color-grey-60;
		@include font-size(0.88888888rem);
		font-weight: 700;
		text-decoration: none;
		text-transform: capitalize;

		&:hover,
		&:focus,
		&:active {
			color: $color-dark;
			text-decoration: underline;
		}
	}
}
