.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.entry {
	margin-bottom: $global-spacing-unit-8;
}

.entry__header,
.entry__summary,
.entry__footer,
.comments-template {
	@include center;
	max-width: $max-width-2;
}

.entry__byline {
	font-size: var(--font-size-88);
}

.entry__footer {
	margin-top: $global-spacing-unit-4;
}

.terms-wrapper {
	color: var(--color-grey-60);
	display: block;

	+ .terms-wrapper {
		margin-top: $global-spacing-unit-1;
	}

	.svg {
		margin-right: $global-spacing-unit-2;
	}

	a {
		color: var(--color-grey-60);
		font-size: var(--font-size-88);
		font-weight: 700;
		text-decoration: none;
		text-transform: capitalize;

		&:hover,
		&:focus,
		&:active {
			color: var(--color-dark);
			text-decoration: underline;
		}
	}
}
