a {
	color: var(--color-primary);
	@mixin global-transition;

	&:hover,
	&:focus,
	&:active {
		color: var(--color-primary-900);
	}

	&:focus {
		@mixin global-focus-styles;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
