table {
	border-collapse: separate;
	border-spacing: 0;
	margin: 0 0 var(--spacing-unit-4x);
	width: 100%;
}

th,
td {
	border-bottom: 1px solid var(--color-primary-100);
	padding: var(--spacing-unit-2x);
	text-align: left;
}
