////
/// @group mixins
////

@mixin typography {
	color: $color-darkest;
	font-family: $font-main;
	font-size: ($global-font-size / 1rem) * 100%;
	line-height: $global-line-height;
}

/// Center any block element.
///
/// @example scss - Basic Usage Sass
///		.center-block {
///			@include center-block;
///    }
///
/// @example css - Basic Usage CSS Output
/// 	.center-block {
///			display: block;
///			margin-left: auto;
///			margin-right: auto;
///		}
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/// Resets margin and padding on any element.
///
/// @example scss - Basic Usage Sass
///		.foo {
///			@include reset-margin-padding;
///		}
///
/// @example css - Basic Usage CSS Output
///		.foo {
///			margin: 0;
///			padding: 0;
///		}

@mixin reset-margin-padding {
	margin: 0;
	padding: 0;
}

/// Reset all padding and styles on both unordered and ordered lists.
///
/// @example scss - Basic Usage Sass
///		.reset-list {
///			@include reset-list;
///    }
///
/// @example css - Basic Usage CSS Output
/// 	.reset-list {
///			list-style-type: none;
///			margin: 0;
///			padding: 0;
///		}
@mixin reset-list {
	@include reset-margin-padding;
	list-style-type: none;
}

/// Button styles.
///
/// @example scss - Basic Usage Sass
///		.button {
///			@include button-block;
///    }
///
/// @example css - Basic Usage CSS Output
/// 	.button {
///			background-color: #222;
///			border: none;
///			color: #fff;
///			padding: 1.5rem;
///		}
@mixin button-block {
	background-color: $color-darkest;
	border: none;
	color: $color-white;
	padding: $global-spacing-unit-tiny $global-spacing-unit-small;
}

/// Button hover styles.
///
/// @example scss - Basic Usage Sass
///		.button:hover,
///		.button:focus {
///			@include button-block-hover;
///    }
///
/// @example css - Basic Usage CSS Output
/// 	.button:hover
///		.button:focus {
///			background-color: #111;
///		}
@mixin button-block-hover {
	background-color: $color-dark;
}
