////
/// @group mixins
////

@mixin typography {
	color: var(--color-dark);
	font-family: $font-main;
	font-size: ($global-font-size / 1rem) * 112.5%;
	line-height: $global-line-height;
	word-wrap: break-word;

	@media (min-width: $breakpoint-1) {
		font-size: ($global-font-size / 1rem) * 125%;
	}
}

/// Center any element.
///
/// @example scss - Basic Usage Sass
///		.center {
///			@include center;
///    }
///
/// @example css - Basic Usage CSS Output
/// 	.center {
///			margin-left: auto;
///			margin-right: auto;
///		}
@mixin center {
	margin-left: auto;
	margin-right: auto;
}

/// Center any block element.
///
/// @example scss - Basic Usage Sass
///		.center-block {
///			@include center-block;
///    }
///
/// @example css - Basic Usage CSS Output
/// 	.center-block {
///			display: block;
///			margin-left: auto;
///			margin-right: auto;
///		}
@mixin center-block {
	display: block;
	@include center;
}

/// Resets margin and padding on any element.
///
/// @example scss - Basic Usage Sass
///		.foo {
///			@include reset-margin-padding;
///		}
///
/// @example css - Basic Usage CSS Output
///		.foo {
///			margin: 0;
///			padding: 0;
///		}

@mixin reset-margin-padding {
	margin: 0;
	padding: 0;
}

/// Reset all padding and styles on both unordered and ordered lists.
///
/// @example scss - Basic Usage Sass
///		.reset-list {
///			@include reset-list;
///    }
///
/// @example css - Basic Usage CSS Output
/// 	.reset-list {
///			list-style-type: none;
///			margin: 0;
///			padding: 0;
///		}
@mixin reset-list {
	@include reset-margin-padding;
	list-style-type: none;
}

/// Global transition.
///
/// @example scss - Basic Usage Sass
///		.transition {
///			@include global-transition;
///    }
///
/// @example css - Basic Usage CSS Output
/// 	.transition {
///			transition: all 300ms ease-in-out;
///		}
@mixin global-transition {
	transition: all $transition-duration-1 ease-in-out;
}

/// Global transition.
///
/// @example scss - Basic Usage Sass
///		.box-shadow {
///			@include global-box-shadow;
///    }
///
/// @example css - Basic Usage CSS Output
/// 	.box-shadow {
///			box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
///		}
@mixin global-box-shadow {
	box-shadow: 0 $global-spacing-unit-1 $global-spacing-unit-4 var(--color-grey-10);
}

/// Button styles.
///
/// @example scss - Basic Usage Sass
///		.button {
///			@include button-block;
///    }
///
/// @example css - Basic Usage CSS Output
/// 	.button {
///			background-color: #222;
///			border: none;
///			color: #fff;
///			padding: 1.5rem;
///		}
@mixin button-block {
	background-color: var(--color-base);
	border: none;
	border-radius: 0;
	color: var(--color-white);
	padding: $global-spacing-unit-1 $global-spacing-unit-3;
}

/// Button hover styles.
///
/// @example scss - Basic Usage Sass
///		.button:hover,
///		.button:focus {
///			@include button-block-hover;
///    }
///
/// @example css - Basic Usage CSS Output
/// 	.button:hover
///		.button:focus {
///			background-color: #111;
///		}
@mixin button-block-hover {
	background-color: var(--color-dark);
	color: var(--color-white);
	outline-offset: -2px;
}

/// Focu styles.
///
/// @example scss - Basic Usage Sass
///		.button:hover,
///		.button:focus {
///			@include global-focus-styles;
///    }
///
/// @example css - Basic Usage CSS Output
/// 	.button:hover
///		.button:focus {
///			outline: thin dotted;
///		}
@mixin global-focus-styles {
	outline: thin dotted;
}

@mixin subheading {
	color: var(--color-grey-60);
	font-size: var(--font-size-h3);
	font-style: normal;
	text-align: center;
}

@function strip-unit( $value ) {
	@return $value / ($value * 0 + 1);
}
