.wp-block-navigation__container {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

.wp-block-navigation-link {
	margin-right: var(--spacing-unit-3x);
}

.wp-block-navigation-link:last-child {
	margin-right: 0;
}

.wp-block-navigation-link__content {
	color: var(--color-grey-60);
	display: block;
	font-size: var(--font-size-1);
	font-weight: 700;
	padding-bottom: var(--spacing-unit);
	padding-top: var(--spacing-unit);
	text-decoration: none;

	&.is-active {
		color: var(--color-primary-900);
	}
}
