////
/// @group variables
////

$color-white: #fff;
$color-black: #000;
$color-lightest: #f3ebff;
$color-lighter: #d6bbfc;
$color-light: #a779e9;
$color-base: #9561e2;
$color-dark: #794acf;
$color-darker: #382b5f;
$color-darkest: #21183c;
