////
/// @group variables
////

$color-white: #fff;
$color-black: #000;
$color-light-1: #ecebff;
$color-base: #2516c7;
$color-dark: #06031f;
$color-grey-60: rgba($color-black, 0.6);
$color-grey-20: rgba($color-black, 0.2);
$color-grey-10: rgba($color-black, 0.1);
