////
/// @group variables
////

/// Baseline grid lines height is so called 8 point grid.
/// Every spacing metric should be based on this.
/// Inspired by inuitcss.
/// @link: https://github.com/inuitcss/inuitcss

/* stylelint-disable declaration-bang-space-before */

$global-baseline:       0.5rem  !default;
$global-baseline-small: 0.25rem !default;

/// How many grid lines should our spacing unit variants span?
/// Each value should be an unitless integer.
$global-factor-tiny:   1  !default;
$global-factor-small:  2  !default;
$global-factor:        3  !default;
$global-factor-large:  5  !default;
$global-factor-larger: 8  !default;
$global-factor-huge:   13 !default;

/// Spacing values are determined based on your project’s global baseline grid.
/// It is not recommended that you modify these following variables
/// (it can break your vertical rhythm), but if you need to, you can.

$global-spacing-unit:        $global-baseline * $global-factor        !default;
$global-spacing-unit-tiny:   $global-baseline * $global-factor-tiny   !default;
$global-spacing-unit-small:  $global-baseline * $global-factor-small  !default;
$global-spacing-unit-large:  $global-baseline * $global-factor-large  !default;
$global-spacing-unit-larger: $global-baseline * $global-factor-larger !default;
$global-spacing-unit-huge:   $global-baseline * $global-factor-huge   !default;

/// Base typographical styles.
/// Global font size.
$global-font-size: 1rem !default;

// Global line height calculation.
$global-lines: ceil($global-font-size / $global-baseline) + 1;
$line-height: $global-lines * $global-baseline;

/// Global line height.
$global-line-height: ($line-height / $global-font-size) !default;

/// Columns for old gallery markup.
$columns: (
	1: 100%,
	2: 50%,
	3: 33.33%,
	4: 25%,
	5: 20%,
	6: 16.66%,
	7: 14.28%,
	8: 12.5%,
	9: 11.11%
);

/* stylelint-enable */
