////
/// @group variables
////

$font-main: "Karla", sans-serif;
$font-heading: "Lora", serif;
$font-code: "Monaco", "Consolas", "Andale Mono", "DejaVu Sans Mono", monospace;
$font-pre: "Courier 10 Pitch", "Courier", monospace;

$font-size-h1: 2rem !default;
$font-size-h2: 1.5rem !default;
$font-size-h3: 1.25rem !default;
$font-size-h4: 1.125rem !default;
$font-size-h5: 1.125rem !default;
$font-size-h6: 1rem !default;
