////
/// @group variables
////

$font-main: "Karla", sans-serif;
$font-heading: "Lora", serif;
$font-code: "Monaco", "Consolas", "Andale Mono", "DejaVu Sans Mono", monospace;
$font-pre: "Courier 10 Pitch", "Courier", monospace;

:root {
	--global-font-size: 1rem;
	--global-baseline: 0.5rem;

	// Headings.
	--font-size-h1: 1.5rem;
	--font-size-h2: 1.25rem;
	--font-size-h3: 1.125rem;
	--font-size-h4: 1rem;
	--font-size-h5: 1rem;
	--font-size-h6: 1rem;
	--font-size-88: 0.88888888rem;
	--font-size-875: 0.875rem;

	@media screen and (min-width: $breakpoint-1) {
		--font-size-h1: 2rem;
		--font-size-h2: 1.5rem;
		--font-size-h3: 1.25rem;
		--font-size-h4: 1.125rem;
		--font-size-h5: 1.125rem;
		--font-size-h6: 1rem;
	}
}
