/**
 * Blocks stylesheet for the theme.
 *
 * This is for the editor.
 */

/*--------------------------------------------------------------
# Settings - Global variables, config switches.
--------------------------------------------------------------*/
@import "settings/media-queries.css";
@import "settings/core.css";
@import "settings/fonts.css";
@import "settings/colors.css";


/*--------------------------------------------------------------
# Tools - Default mixins and functions.
--------------------------------------------------------------*/
@import "tools/mixins.css";


/*--------------------------------------------------------------
# Elements - Unclassed HTML elements (type selectors).
--------------------------------------------------------------*/
@import "elements/blockquote.css";
@import "elements/buttons.css";
@import "elements/forms.css";
@import "elements/headings.css";
@import "elements/hr.css";
@import "elements/links.css";
@import "elements/lists.css";
@import "elements/media.css";
@import "elements/misc.css";
@import "elements/paragraph.css";
@import "elements/pre-code.css";
@import "elements/tables.css";


/*--------------------------------------------------------------
# Blocks - editor related styles.
--------------------------------------------------------------*/
@import "blocks/core/audio.css";
@import "blocks/core/button.css";
/* @import "blocks/core/columns.css"; */
@import "blocks/core/cover.css";
@import "blocks/core/embeds.css";
@import "blocks/core/file.css";
@import "blocks/core/gallery.css";
@import "blocks/core/latest-comments.css";
@import "blocks/core/latest-posts.css";
@import "blocks/core/media-text.css";
@import "blocks/core/paragraph.css";
@import "blocks/core/pullquote.css";
@import "blocks/core/quote.css";
@import "blocks/core/search.css";
@import "blocks/core/separator.css";
@import "blocks/core/subhead.css";
@import "blocks/core/table.css";
@import "blocks/font-sizes.css";
@import "blocks/color-palette.css";


/*--------------------------------------------------------------
# Utilities - Helpers and overrides.
--------------------------------------------------------------*/
@import "utilities/helpers.css";
@import "utilities/prefers-reduced-motion.css";


/*--------------------------------------------------------------
# Editor related styles which overwrites above styles.
--------------------------------------------------------------*/

/**
 * Acts like a body of the editor.
 * Give more specifity to overwrite Core style.
 */
.edit-post-visual-editor.editor-styles-wrapper {
	@mixin typography;
}

/* Post title. */
.editor-post-title__block .editor-post-title__input {
	font-family: var(--font-heading);
	font-size: var(--font-size-h1);
	min-height: auto;
	text-align: center;
}

/* Paragraph needs more specifity. */
.wp-block-paragraph {
	font-size: var(--font-size-global);
}

/* Main column width. */
.wp-block {
	max-width: calc(var(--max-width-2) + 2rem);
}

/* Width of "wide" blocks. */
.wp-block[data-align="wide"] {
	max-width: var(--max-width-wide);
}

/* Width of "full-wide" blocks. */
.wp-block[data-align="full"] {
	max-width: none;
}

/* For now we need this for overwriting Core line-height.
 * Note that headings line-height is overwritten in elements/headings.css.
 */
.editor-rich-text__tinymce:not(.wp-block-cover-text):not(.wp-block-subhead):not(h2):not(h3) {
	line-height: var(--line-height-global);
}

/* Search styles. */
.wp-block-search__input {
	font-family: inherit;
	font-size: inherit;
}

.wp-block-search__label {
	font-weight: 700;
}

.wp-block-search__button {
	@mixin button-block;
	@mixin global-transition;

	&:hover,
	&:active,
	&:focus {
		@mixin button-block-hover;
	}

	&:focus {
		@mixin global-focus-styles;
	}

	display: inline-block;
	font-family: inherit;
	font-size: inherit;
}

.wp-block-search__button .wp-block-search__button-rich-text {
	padding: 0;
}

/* Code. */
.wp-block-code textarea {
	background-color: inherit;
	color: inherit;
	font-size: inherit;
}
