/**
 * Blocks stylesheet for the theme.
 *
 * This is for the editor.
 */

/*--------------------------------------------------------------
# Settings - Global variables, config switches.
--------------------------------------------------------------*/
@import "settings/core.css";
@import "settings/fonts.css";
@import "settings/colors.css";


/*--------------------------------------------------------------
# Tools - Default mixins and functions.
--------------------------------------------------------------*/
@import "tools/mixins.css";


/*--------------------------------------------------------------
# Elements - Unclassed HTML elements (type selectors).
--------------------------------------------------------------*/
@import "elements/blockquote.css";
@import "elements/headings.css";
@import "elements/hr.css";
@import "elements/links.css";
@import "elements/lists.css";
@import "elements/media.css";
@import "elements/misc.css";
@import "elements/paragraph.css";
@import "elements/pre-code.css";
@import "elements/tables.css";


/*--------------------------------------------------------------
# Blocks - editor related styles.
--------------------------------------------------------------*/
@import "blocks/core/audio.css";
@import "blocks/core/button.css";
@import "blocks/core/columns.css";
@import "blocks/core/cover.css";
@import "blocks/core/embeds.css";
@import "blocks/core/file.css";
@import "blocks/core/gallery.css";
@import "blocks/core/latest-comments.css";
@import "blocks/core/latest-posts.css";
@import "blocks/core/media-text.css";
@import "blocks/core/paragraph.css";
@import "blocks/core/pullquote.css";
@import "blocks/core/quote.css";
@import "blocks/core/separator.css";
@import "blocks/core/subhead.css";
@import "blocks/core/table.css";
@import "blocks/blocks.css";
@import "blocks/color-palette.css";


/*--------------------------------------------------------------
# Utilities - Helpers and overrides.
--------------------------------------------------------------*/
@import "utilities/helpers.css";


/*--------------------------------------------------------------
# Editor related styles which overwrites above styles.
--------------------------------------------------------------*/

/* Acts like a body of the editor. */
.edit-post-visual-editor .editor-block-list__block {
	@mixin typography;
}

/* Post title. */
.editor-post-title__block .editor-post-title__input {
	font-family: var(--font-heading);
	font-size: var(--font-size-h1);
	min-height: auto;
	text-align: center;
}

p {
	font-size: var(--font-size-global);
}

.wp-block-latest-posts.is-grid {
	margin-left: 0;
}

/* Main column width. */
:root body.gutenberg-editor-page .editor-post-title__block,
:root body.gutenberg-editor-page .editor-default-block-appender,
:root body.gutenberg-editor-page .editor-block-list__block {
	max-width: calc(var(--max-width-2) + 2rem);
}

/* Width of "wide" blocks. */
:root body.gutenberg-editor-page .editor-block-list__block[data-align="wide"] {
	max-width: var(--max-width-wide);
}

/* Width of "full-wide" blocks. */
:root body.gutenberg-editor-page .editor-block-list__block[data-align="full"] {
	max-width: none;
}

/* For now we need this for overwriting Core line-height. */
.editor-rich-text__tinymce.mce-content-body:not(.wp-block-cover-image-text):not(.wp-block-subhead):not(h2):not(h3) {
	line-height: var(--line-height-global);
}
