.has-drop-cap:not(:focus) {
	&::first-letter {
		font-size: var(--font-size-h1);
		float: left;
		font-style: normal;
		font-family: serif;
		font-weight: 600;
		margin-right: $global-spacing-unit-1 * 2;
		text-transform: uppercase;
	}
}
