.flex {
	display: flex;
}

.justify-between {
	justify-content: space-between;
}

.items-center {
	align-items: center;
}

@media screen and (min-width: $breakpoint-1) {

	@supports (grid-area: auto) {

		.grid {
			display: grid;
			grid-gap: $global-spacing-unit-4;
			grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));

			&--blog {
				grid-template-columns: repeat(6, 1fr);

				> .entry {
					grid-column: span 2;

					&:first-child,
					&:nth-child(2) {
						grid-column: span 3;
					}
				}

				> .pagination {
					grid-column: 1/ -1;
				}
			}
		}

	}
}
