.comments {
	margin-top: calc(var(--spacing-unit) * 6);
}

.comments__title {
	margin-bottom: calc(var(--spacing-unit) * 6);
}

.comments-nav {
	margin-bottom: calc(var(--spacing-unit) * 6);
}

.comments-nav__title {
	width: 100%;
}

.comments__list,
.comments__list .children {
	@mixin reset-list;

	.children {
		padding-left: 3%;
	}
}

.comment--depth-1 {
	padding-bottom: var(--spacing-unit-4x);
}

.comment__meta {
	margin-bottom: var(--spacing-unit-4x);

	a {
		color: var(--color-primary-900);
		text-decoration: none;

		&:hover,
		&:focus,
		&:active {
			text-decoration: underline;
		}
	}
}

.comment__avatar {
	border-radius: 4px;
	height: 60px;
	margin-right: var(--spacing-unit-2x);
	width: 60px;
}
