@supports (grid-area: auto) {
	.sidebar {
		display: grid;
		grid-gap: calc(var(--spacing-unit-2x) * 4);
		grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	}

}

.widget {
	font-size: var(--font-size-1);
	margin: 0 0 var(--spacing-unit-4x);

	@supports (grid-area: auto) {
		margin-bottom: 0;
	}

	select {
		max-width: 100%;
	}
}

.widget :last-child {
	margin-bottom: 0;
}
