@media (--breakpoint-1) {

	@supports (grid-area: auto) {

		.sidebar {
			display: grid;
			grid-gap: var(--spacing-unit-2x) * 4;
			grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
		}

	}
}

.widget {
	margin: 0 0 var(--spacing-unit-4x);

	select {
		max-width: 100%;
	}
}
