cite {
	color: var(--color-grey-60);
}

blockquote {
	border-left: 0.25rem solid;
	font-style: italic;
	margin: 0 0 $global-spacing-unit-4;
	padding-left: $global-spacing-unit-3;

	p {
		font-size: var(--font-size-h3);
	}

	p:last-of-type {
		margin-bottom: 0;
	}

	cite {
		display: block;
		margin-top: $global-spacing-unit-1 * 3;
	}
}
