$font-size-h1: 2.5rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.5rem !default;
$font-size-h4: 1.25rem !default;
$font-size-h5: 1.125rem !default;
$font-size-h6: 1rem !default;

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-heading;
	margin: 0 0 $global-spacing-unit-small;
}

h1,
h1.blocks-rich-text__tinymce.mce-content-body {
	@include font-size($font-size-h1);
}

h2,
h2.blocks-rich-text__tinymce.mce-content-body {
	@include font-size($font-size-h2);
}

h3,
h3.blocks-rich-text__tinymce.mce-content-body {
	@include font-size($font-size-h3);
}

h4,
h4.blocks-rich-text__tinymce.mce-content-body {
	@include font-size($font-size-h4);
}

h5,
h5.blocks-rich-text__tinymce.mce-content-body {
	@include font-size($font-size-h5);
}

h6,
h6.blocks-rich-text__tinymce.mce-content-body {
	@include font-size($font-size-h6);
}
