hr {
	@include center-block;
	background-color: $color-lighter;
	border: 0;
	height: $global-spacing-unit-1 / 2;
	margin-bottom: $global-spacing-unit-3;
	margin-top: $global-spacing-unit-3;
	max-width: $global-spacing-unit-13;
}
