/// Make sure embeds and iframes fit their containers.
embed,
iframe,
object {
	max-width: 100%;
}

/// Make sure images are scaled correctly.
img {
	height: auto;
	max-width: 100%;
	// Removes the whitespace under img, safer than `display: block;`.
	vertical-align: middle;
}

figure {
	margin: 0 0 $global-spacing-unit-4;

	img {
		@include center-block();
	}
}

figcaption {
	color: var(--color-grey-60);
	font-size: var(--font-size-875);
	margin-bottom: $global-spacing-unit-1;
	margin-top: $global-spacing-unit-1;
	text-align: center;
}
