pre {
	@include font-size(1.125rem);
	background-color: $color-lightest;
	font-family: $font-pre;
	margin: 0 0 $global-spacing-unit;
	max-width: 100%;
	overflow: auto;
	padding: $global-spacing-unit;
}

code,
kbd,
tt,
var {
	font-family: $font-code;
}
