table {
	border-collapse: separate;
	border-spacing: 0;
	margin: 0 0 $global-spacing-unit-4;
	table-layout: fixed;
	width: 100%;
}

tr:nth-child(even) {
	background-color: var(--color-light);
}

th,
td {
	padding: $global-spacing-unit-1;
	text-align: left;
}
