table {
	border-collapse: separate;
	border-spacing: 0;
	margin: 0 0 $global-spacing-unit-small;
	table-layout: fixed;
	width: 100%;
}

tr:nth-child(even) {
	background-color: $color-lightest;
}

th,
td {
	padding: $global-spacing-unit-tiny;
	text-align: left;
}
