/**
 * Blocks stylesheet for the theme.
 *
 * This is for the editor.
 */

/*--------------------------------------------------------------
# Settings - Global variables, config switches.
--------------------------------------------------------------*/
@import "settings/core";
@import "settings/fonts";
@import "settings/colors";

/*--------------------------------------------------------------
# Tools - Default mixins and functions.
--------------------------------------------------------------*/
@import "tools/mixins";
@import "tools/font-size";

.edit-post-visual-editor {
	@include typography;
	@include font-size(1rem);

	.editor-post-title .editor-post-title__input {
		font-family: $font-heading;
		@include font-size($font-size-h1);
		font-weight: 400;
		min-height: auto;
		text-align: center;
	}

	p {
		@include typography;
		@include font-size(1rem);
	}

	.blocks-rich-text__tinymce.mce-content-body:not(.wp-block-subhead) {
		@include font-size(1rem);
	}

	/*--------------------------------------------------------------
	# Elements - Unclassed HTML elements (type selectors).
	--------------------------------------------------------------*/
	@import "elements/page";
	@import "elements/blockquote";
	@import "elements/forms";
	@import "elements/headings";
	@import "elements/hr";
	@import "elements/links";
	@import "elements/lists";
	@import "elements/media";
	@import "elements/misc";
	@import "elements/pre-code";
	@import "elements/tables";

	/*--------------------------------------------------------------
	# Blocks - editor related styles.
	--------------------------------------------------------------*/
	@import "blocks/blocks";


	/*--------------------------------------------------------------
	# Utilities - Helpers and overrides.
	--------------------------------------------------------------*/
	@import "utilities/font-sizes";
	@import "utilities/helpers";

}
