/**
 * Blocks stylesheet for the theme.
 *
 * This is for the editor.
 */

/*--------------------------------------------------------------
# Settings - Global variables, config switches.
--------------------------------------------------------------*/
@import "settings/core";
@import "settings/fonts";
@import "settings/colors";

/*--------------------------------------------------------------
# Tools - Default mixins and functions.
--------------------------------------------------------------*/
@import "tools/mixins";

// Editor styles.
.edit-post-visual-editor {

	/*--------------------------------------------------------------
	# Elements - Unclassed HTML elements (type selectors).
	--------------------------------------------------------------*/
	@import "elements/page";
	@import "elements/blockquote";
	@import "elements/forms";
	@import "elements/headings";
	@import "elements/hr";
	@import "elements/links";
	@import "elements/lists";
	@import "elements/media";
	@import "elements/misc";
	@import "elements/pre-code";
	@import "elements/tables";

	/*--------------------------------------------------------------
	# Blocks - editor related styles.
	--------------------------------------------------------------*/
	@import "blocks/blocks";
	@import "blocks/color-palette";

	/*--------------------------------------------------------------
	# Editor related styles which overwrites above styles.
	--------------------------------------------------------------*/
	@include typography;

	p {
		@include typography;
		margin-bottom: 0;
	}

	// Post title.
	.editor-post-title {
		&__block {
			max-width: calc(#{$max-width-2} + 86px);
		}

		&__input {
			font-family: $font-heading;
			font-size: var(--font-size-h1);
			min-height: auto;
			text-align: center;
		}
	}

	.editor-block-list__block,
	.editor-default-block-appender {
		max-width: calc(#{$max-width-2} + 86px);
	}

	.editor-rich-text__tinymce.mce-content-body:not(.wp-block-cover-image-text):not(.wp-block-subhead):not(h2):not(h3) {
		line-height: $global-line-height;
	}


	/*--------------------------------------------------------------
	# Utilities - Helpers and overrides.
	--------------------------------------------------------------*/
	@import "utilities/font-sizes";
	@import "utilities/helpers";

}
