/**
 * Blocks stylesheet for the theme.
 *
 * This is for the editor.
 */

/*--------------------------------------------------------------
# Settings - Global variables, config switches.
--------------------------------------------------------------*/
@import "settings/core";
@import "settings/fonts";
@import "settings/colors";

/*--------------------------------------------------------------
# Tools - Default mixins and functions.
--------------------------------------------------------------*/
@import "tools/mixins";
@import "tools/font-size";

// Editor styles.
.edit-post-visual-editor {
	@include typography;

	.editor-block-list__block {
		max-width: calc(#{ $max-width-2 } * 1.125 + 2 * 50px);
	}

	.editor-post-title .editor-post-title__input {
		font-family: $font-heading;
		font-size: var(--font-size-h1);
		min-height: auto;
		text-align: center;
	}

	p {
		@include typography;
	}

	.blocks-rich-text__tinymce.mce-content-body:not(.wp-block-cover-image-text):not(.wp-block-subhead):not(h2):not(h3) {
		line-height: $global-line-height;
	}

	/*--------------------------------------------------------------
	# Elements - Unclassed HTML elements (type selectors).
	--------------------------------------------------------------*/
	@import "elements/page";
	@import "elements/blockquote";
	@import "elements/forms";
	@import "elements/headings";
	@import "elements/hr";
	@import "elements/links";
	@import "elements/lists";
	@import "elements/media";
	@import "elements/misc";
	@import "elements/pre-code";
	@import "elements/tables";

	/*--------------------------------------------------------------
	# Blocks - editor related styles.
	--------------------------------------------------------------*/
	@import "blocks/blocks";
	@import "blocks/color-palette";


	/*--------------------------------------------------------------
	# Utilities - Helpers and overrides.
	--------------------------------------------------------------*/
	@import "utilities/font-sizes";
	@import "utilities/helpers";

}
