.alignleft {
	@media (min-width: $max-width-2) {
		float: left;
		margin-bottom: $global-spacing-unit-1 * 3;
		margin-left: calc((100% - #{$max-width-2}) / 2);
		margin-right: $global-spacing-unit-1 * 3;
		max-width: 50%;
	}
}

.alignright {
	@media (min-width: $max-width-2) {
		float: right;
		margin-bottom: $global-spacing-unit-1 * 3;
		margin-left: $global-spacing-unit-1 * 3;
		margin-right: calc((100% - #{$max-width-2}) / 2);
		max-width: 50%;
	}
}

.aligncenter {
	@include center-block;
	clear: both;
}

// Align full and wide.
.alignfull {
	margin-left: -$global-spacing-unit-1 * 2;
	margin-right: -$global-spacing-unit-1 * 2;
	max-width: calc(100% + #{$global-spacing-unit-1 * 4});
}

@media (min-width: $breakpoint-1) {

	.alignwide {
		max-width: $max-width-wide;
	}

}
