// Core blocks.
@import "button";
@import "columns";
@import "cover-image";
@import "embeds";
@import "file";
@import "gallery";
@import "latest-posts";
@import "paragraph";
@import "pullquote";
@import "quote";
@import "separator";
@import "subhead";

// Font sizes.
.is-small-text {
	font-size: var(--font-size-875);
}

.is-regular-text {
	font-size: var(--global-font-size);
}

.is-large-text {
	font-size: var(--font-size-h2);
	line-height: var(--line-height-heading);
}

.is-larger-text {
	font-size: var(--font-size-h1);
	line-height: var(--line-height-heading);
}

// Has background blocks.
.has-background:not(.wp-block-button__link) {
	padding: $global-spacing-unit-3;
}
