.wp-block-button {
	margin-bottom: $global-spacing-unit-4;

	&.aligncenter {
		text-align: center;
	}

	&.alignright {
		text-align: right;
	}

	&__link {
		@include button-block;
		display: inline-block;
		text-decoration: none;

		&:visited {
			color: var(--color-white);
		}

		&:hover,
		&:focus,
		&:active {
			@include button-block-hover;
		}

		.is-style-squared & {
			border-radius: $global-spacing-unit-1 * 10;
		}

		.is-style-outline & {
			@include button-block-outline;

			&:hover,
			&:focus,
			&:active {
				@include button-block-outline-hover;
			}
		}
	}
}
