.wp-block-button {
	margin-bottom: $global-spacing-unit-1 * 4;

	&.aligncenter {
		text-align: center;
	}

	&.alignright {
		text-align: right;
	}

	&__link {
		@include button-block;
		display: inline-block;
		text-decoration: none;

		&:visited {
			color: var(--color-white);
		}

		&:hover,
		&:focus,
		&:active {
			@include button-block-hover;
		}
	}
}

// Need these outside, otherwise nesting in Gutenberg doesn't work.
// .is-style-outline & outputs wrong nesting.
// .is-style-outline .edit-post-visual-editor .wp-block-button__link.
.is-style-squared .wp-block-button__link {
	border-radius: $global-spacing-unit-1 * 10;
}

.is-style-outline .wp-block-button__link {
	@include button-block-outline;

	&:hover,
	&:focus,
	&:active {
		@include button-block-outline-hover;
	}
}
