.has-main-color {
	color: $color-base;
}

.has-main-background-color {
	background-color: $color-base;
}

.has-dark-color {
	color: $color-dark;
}

.has-dark-background-color {
	background-color: $color-dark;
}

.has-white-color {
	color: $color-white;
}

.has-white-background-color {
	background-color: $color-white;
}

.has-light-color {
	color: $color-light-1;
}

.has-light-background-color {
	background-color: $color-light-1;
}
