.wp-block-cover-image {
	align-items: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	margin-bottom: $global-spacing-unit-1 * 4;
	min-height: $global-spacing-unit-3 * 18;
	position: relative;

	&-text {
		font-size: var(--font-size-h1);
		color: var(--color-white);
		z-index: 1;
		padding: $global-spacing-unit-1 * 3;
		text-align: center;
	}

	&.has-left-content {
		justify-content: flex-start;

		&-text {
			margin-left: 0;
			text-align: left;
		}
	}

	&.has-right-content {
		justify-content: flex-end;

		&-text {
			margin-right: 0;
			text-align: right;
		}
	}

	&.has-parallax {
		background-attachment: fixed;
	}

	&.has-background-dim::before {
		background-color: rgba(0, 0, 0, 0.5);
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

	@for $i from 1 through 10 {
		&.has-background-dim-#{ $i * 10 }:before { /* stylelint-disable-line */
			background-color: rgba(0, 0, 0, $i * 0.1);
		}
	}

	&.components-placeholder {
		height: inherit;
	}

}
