.wp-block-gallery {
	display: grid;
	grid-gap: $global-spacing-unit-1;
	grid-template-columns: repeat(1, 1fr);
	list-style-type: none;
	padding-left: 0;

	@media (min-width: $breakpoint-1) {
		@for $i from 2 through 8 {
			&.columns-#{ $i } {
				grid-template-columns: repeat(#{ $i }, 1fr);
			}
		}
	}

	.blocks-gallery-item {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		justify-content: center;
		position: relative;

		figure {
			align-items: flex-end;
			height: 100%;
			display: flex;
			margin: 0;
		}

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}

		figcaption {
			padding: $global-spacing-unit-1 / 2;
			position: absolute;
			text-align: center;
			width: 100%;
		}
	}

	// Cropped.
	&.is-cropped .blocks-gallery-item {
		a,
		img {
			flex: 1;
			height: 100%;
			object-fit: cover;
			width: 100%;
		}
	}
}
