.decoration-none {
	text-decoration: none;
}

.font-main {
	font-family: $font-main;
}

.fw-700 {
	font-weight: 700;
}

.color-dark {
	color: $color-dark;
}

.color-grey-60 {
	color: $color-grey-60;
}

.text-center {
	text-align: center;
}
