/* stylelint-disable declaration-no-important */

/// Text meant only for screen readers.
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	// Many screen reader and browser combinations announce broken words
	// as they would appear visually.
	word-wrap: normal !important;

	&:focus {
		background-color: var(--color-base);
		clip: auto !important;
		clip-path: none;
		color: var(--color-white);
		display: block;
		font-size: var(--font-size-875);
		font-weight: 700;
		height: auto;
		left: $global-spacing-unit-1;
		padding: $global-spacing-unit-1 $global-spacing-unit-2;
		text-decoration: none;
		top: $global-spacing-unit-1;
		width: auto;
		// Above WP toolbar.
		z-index: 100000;
	}
}

/* stylelint-enable */

// Do not show the outline on the skip link target.
#main[tabindex="-1"]:focus {
	outline: 0;
}
