.wp-block-button {
	margin-bottom: var(--spacing-unit-4x);

	&.aligncenter {
		text-align: center;
	}

	&.alignright {
		text-align: right;
	}

	&__link {
		@mixin button-block;
		display: inline-block;
		text-decoration: none;

		&:visited {
			color: var(--color-white);
		}

		&:hover,
		&:focus,
		&:active {
			@mixin button-block-hover;
		}
	}
}

/**
 * Need these outside, otherwise nesting in Gutenberg doesn't work.
 * .is-style-outline & outputs wrong nesting:
 * .is-style-outline .edit-post-visual-editor .wp-block-button__link.
 */
.is-style-squared .wp-block-button__link {
	border-radius: calc(var(--spacing-unit) * 12);
}

.is-style-outline .wp-block-button__link {
	@mixin button-block-outline;

	&:hover,
	&:focus,
	&:active {
		@mixin button-block-outline-hover;
	}
}
