.wp-block-cover {
	align-items: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	margin-bottom: var(--spacing-unit-4x);
	min-height: calc(var(--spacing-unit) * 60);
	padding: var(--spacing-unit-2x);
	position: relative;

	&-text,
	&__inner-container {
		color: var(--color-white);
		max-width: var(--max-width-2);
		text-align: center;
		z-index: 1;

		.wp-block-paragraph {
			font-size: var(--font-size-h3);
		}

		a {
			color: inherit;
		}
	}

	&.has-left-content {
		justify-content: flex-start;

		&-text {
			margin-left: 0;
			text-align: left;
		}
	}

	&.has-right-content {
		justify-content: flex-end;

		&-text {
			margin-right: 0;
			text-align: right;
		}
	}

	&.has-parallax {
		background-attachment: fixed;
	}

	&.has-background-dim::before {
		background-color: inherit;
		bottom: 0;
		content: "";
		left: 0;
		opacity: 0.5;
		position: absolute;
		right: 0;
		top: 0;
	}

	&.has-background-dim-10::before {
		opacity: 0.1;
	}

	&.has-background-dim-20::before {
		opacity: 0.2;
	}

	&.has-background-dim-30::before {
		opacity: 0.3;
	}

	&.has-background-dim-40::before {
		opacity: 0.4;
	}

	&.has-background-dim-60::before {
		opacity: 0.6;
	}

	&.has-background-dim-70::before {
		opacity: 0.7;
	}

	&.has-background-dim-80::before {
		opacity: 0.8;
	}

	&.has-background-dim-90::before {
		opacity: 0.9;
	}

	&.has-background-dim-100::before {
		opacity: 1;
	}

	&.components-placeholder {
		height: inherit;
	}

	&__video-background {
		height: 100%;
		left: 50%;
		object-fit: fill;
		position: absolute;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		width: 100%;
		z-index: 1;
	}

	&.alignwide,
	&.alignfull {
		.wp-block-cover-text {
			margin-left: auto;
			margin-right: auto;
			max-width: var(--max-width-2);
		}
	}

}
