.wp-block-cover-image {
	align-items: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	margin-bottom: var(--spacing-unit-4x);
	min-height: calc(var(--spacing-unit) * 60);
	position: relative;

	&-text {
		font-size: var(--font-size-h1);
		color: var(--color-white);
		z-index: 1;
		padding: var(--spacing-unit-3x);
		text-align: center;
	}

	&.has-left-content {
		justify-content: flex-start;

		&-text {
			margin-left: 0;
			text-align: left;
		}
	}

	&.has-right-content {
		justify-content: flex-end;

		&-text {
			margin-right: 0;
			text-align: right;
		}
	}

	&.has-parallax {
		background-attachment: fixed;
	}

	&.has-background-dim::before {
		background-color: rgba(0, 0, 0, 0.5);
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

	&.components-placeholder {
		height: inherit;
	}

}
