.wp-block-cover-image {
	align-items: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	margin-bottom: var(--spacing-unit-4x);
	min-height: calc(var(--spacing-unit) * 60);
	position: relative;

	&-text {
		font-size: var(--font-size-h1);
		color: var(--color-white);
		z-index: 1;
		padding: var(--spacing-unit-3x);
		text-align: center;
	}

	&.has-left-content {
		justify-content: flex-start;

		&-text {
			margin-left: 0;
			text-align: left;
		}
	}

	&.has-right-content {
		justify-content: flex-end;

		&-text {
			margin-right: 0;
			text-align: right;
		}
	}

	&.has-parallax {
		background-attachment: fixed;
	}

	&.has-background-dim::before {
		background-color: inherit;
		content: "";
		opacity: 0.5;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

	&.has-main-background-color.has-background-dim-10::before {
		opacity: 0.1;
	}

	&.has-main-background-color.has-background-dim-20::before {
		opacity: 0.2;
	}

	&.has-main-background-color.has-background-dim-30::before {
		opacity: 0.3;
	}

	&.has-main-background-color.has-background-dim-40::before {
		opacity: 0.4;
	}

	&.has-main-background-color.has-background-dim-60::before {
		opacity: 0.6;
	}

	&.has-main-background-color.has-background-dim-70::before {
		opacity: 0.7;
	}

	&.has-main-background-color.has-background-dim-80::before {
		opacity: 0.8;
	}

	&.has-main-background-color.has-background-dim-90::before {
		opacity: 0.9;
	}

	&.components-placeholder {
		height: inherit;
	}

}
