.wp-block-pullquote {
	border-bottom: var(--spacing-unit-small) solid;
	border-top: var(--spacing-unit-small) solid;
	padding: var(--spacing-unit-4x) 0;
	text-align: center;

	blockquote {
		border-left: 0;
		margin-bottom: 0;
		padding-left: 0;
	}

	&.alignfull {

		& blockquote {
			padding-left: var(--spacing-unit-2x);
			padding-right: var(--spacing-unit-2x);
		}
	}
}
